.img-addtocart{
    width: 40px;
    height: 40px;
}

.container-button-cart{
    display: flex;
    align-items: center;
    background-color: lightyellow;
    width: 180px;
    height: 50px;
    border-radius: 22px;
    justify-content: center;
    Gap:2px;
    font-weight: 900;
    font-family: sans-serif;
}

.button-cart-text{
    color: #56D5BD;

}

.button-Click{
    border-radius: 60px;
    border: 1px solid #028174;
    background: #028174;
    width: 170px;
    height: 59.349px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
}